*{
  font-family: Helvetica, Arial, sans-serif;
  background-color: skyblue;
}

h1{
  background-color: rgb(150, 36, 68);
  color: white;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
}

h2{
  font-size: 36px;
}

.crooked{
  transform: rotate(90deg);
}

.centeredstuff{
  text-align: center;
}

p,
li{
  font-size: 24px;
}

a{
  text-decoration: none;
  color: rebeccapurple;
}

img{
  height: 300px;
}
